WebApplicationResult/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61640/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceResults" />
  <xs:element name="getYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceResults" minOccurs="0" name="getYearsResult" nillable="true" type="q1:ArrayOfYillar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceResults" minOccurs="0" name="getTypesResult" nillable="true" type="q2:ArrayOfTurler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceResults" minOccurs="0" name="getStudentsResult" nillable="true" type="q3:ArrayOfOgrenciler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceResults" minOccurs="0" name="getResultResult" nillable="true" type="q4:Sonuclar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>