WebApplicationResult/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfYillar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Yillar" nillable="true" type="tns:Yillar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYillar" nillable="true" type="tns:ArrayOfYillar" />
  <xs:complexType name="Yillar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sonuclar" nillable="true" type="tns:ArrayOfSonuclar" />
      <xs:element minOccurs="0" name="yilAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="yilId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Yillar" nillable="true" type="tns:Yillar" />
  <xs:complexType name="ArrayOfSonuclar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sonuclar" nillable="true" type="tns:Sonuclar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSonuclar" nillable="true" type="tns:ArrayOfSonuclar" />
  <xs:complexType name="Sonuclar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ogrenciler" nillable="true" type="tns:Ogrenciler" />
      <xs:element minOccurs="0" name="Turler" nillable="true" type="tns:Turler" />
      <xs:element minOccurs="0" name="Yillar" nillable="true" type="tns:Yillar" />
      <xs:element minOccurs="0" name="ogrenciId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sonuc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sonucId" type="xs:int" />
      <xs:element minOccurs="0" name="turId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="yilId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sonuclar" nillable="true" type="tns:Sonuclar" />
  <xs:complexType name="Ogrenciler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sonuclar" nillable="true" type="tns:ArrayOfSonuclar" />
      <xs:element minOccurs="0" name="ogrenciAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ogrenciId" type="xs:int" />
      <xs:element minOccurs="0" name="ogrenciTCKN" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ogrenciler" nillable="true" type="tns:Ogrenciler" />
  <xs:complexType name="Turler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sonuclar" nillable="true" type="tns:ArrayOfSonuclar" />
      <xs:element minOccurs="0" name="turAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="turId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Turler" nillable="true" type="tns:Turler" />
  <xs:complexType name="ArrayOfTurler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Turler" nillable="true" type="tns:Turler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTurler" nillable="true" type="tns:ArrayOfTurler" />
  <xs:complexType name="ArrayOfOgrenciler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ogrenciler" nillable="true" type="tns:Ogrenciler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOgrenciler" nillable="true" type="tns:ArrayOfOgrenciler" />
</xs:schema>